<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-light text-white font-size-20">
                    Formula 1 Dashboard
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                <i class="fa fa-fw fa-bars"></i>
            </button>
        </div>
    </div>
</header>
    
<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link arrow-none" href="#" role="button">
                            <i class="bx bx-home-circle me-2"></i><span key="t-starter-page">Home</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link arrow-none" href="#" role="button">
                            <i class="bx bx-stats me-2"></i><span key="t-horizontal">Voorspellen</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link arrow-none" href="#" role="button">
                            <i class="bx bx-car me-2"></i><span key="t-horizontal">Coureurs</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link arrow-none" href="#" role="button">
                            <i class="bx bx-list-ol me-2"></i><span key="t-horizontal">Races</span>
                        </a>
                    </li>


                </ul>
            </div>
        </nav>
    </div>
</div>